
@{
    ViewBag.Title = "TemplateUpload";
}

<h2>TemplateUpload</h2>
<h4>If you want to go back press green button</h4>
<br />
@Html.ActionLink("Back", "Index","TemplateUpload" ,null, new { @class = "btn btn-success" })

