
@{
    ViewBag.Title = "Upload";
}

<h2>@ViewBag.Path</h2>
<h4>If you want to go back press green button</h4>
<br />
@Html.ActionLink("Back", "UploadIndex", null, new { @class = "btn btn-success" })

